---
- name: Install desktop packages
  pacman:
    name: "{{ desktop_packages }}"
    state: present
  become: yes

- name: Install audio packages
  pacman:
    name: "{{ audio_packages }}"
    state: present
  become: yes

- name: Install fonts
  pacman:
    name: "{{ font_packages }}"
    state: present
  become: yes

- name: Create config directories
  file:
    path: "{{ user_home }}/.config/{{ item }}"
    state: directory
    owner: "{{ ansible_user }}"
    mode: '0755'
  loop:
    - sway
    - waybar
    - foot
    - fuzzel
    - mako

- name: Deploy Sway config
  template:
    src: sway-config.j2
    dest: "{{ user_home }}/.config/sway/config"
    owner: "{{ ansible_user }}"
    mode: '0644'

- name: Deploy Waybar config
  template:
    src: waybar-config.j2
    dest: "{{ user_home }}/.config/waybar/config"
    owner: "{{ ansible_user }}"
    mode: '0644'

- name: Deploy Waybar CSS
  template:
    src: waybar-style.css.j2
    dest: "{{ user_home }}/.config/waybar/style.css"
    owner: "{{ ansible_user }}"
    mode: '0644'

- name: Deploy Foot config
  template:
    src: foot.ini.j2
    dest: "{{ user_home }}/.config/foot/foot.ini"
    owner: "{{ ansible_user }}"
    mode: '0644'

- name: Deploy Fuzzel config
  template:
    src: fuzzel.ini.j2
    dest: "{{ user_home }}/.config/fuzzel/fuzzel.ini"
    owner: "{{ ansible_user }}"
    mode: '0644'

- name: Deploy Mako config
  template:
    src: mako-config.j2
    dest: "{{ user_home }}/.config/mako/config"
    owner: "{{ ansible_user }}"
    mode: '0644'

- name: Enable PipeWire services
  systemd:
    name: "{{ item }}"
    enabled: yes
    state: started
    scope: user
  loop:
    - pipewire
    - pipewire-pulse
    - wireplumber
  become: no

- name: Display result
  debug:
    msg: |
      Nice! - Desktop environment complete
      
      Restart Sway to see changes: Mod+Shift+c
