---
- name: Get LUKS UUID
  command: blkid -s UUID -o value /dev/nvme0n1p2
  register: luks_uuid
  changed_when: false
  become: yes

- name: Display UUID
  debug:
    msg: "LUKS UUID: {{ luks_uuid.stdout }}"

- name: Backup bootloader config
  command: cp /boot/loader/entries/arch.conf /boot/loader/entries/arch.conf.backup
  become: yes
  ignore_errors: yes

- name: Write bootloader entry
  copy:
    dest: /boot/loader/entries/arch.conf
    content: |
      title   Arch Linux
      linux   /vmlinuz-linux
      initrd  /intel-ucode.img
      initrd  /initramfs-linux.img
      options cryptdevice=UUID={{ luks_uuid.stdout }}:root root=/dev/mapper/root rootflags=subvol=@ rw quiet loglevel=3
    owner: root
    group: root
    mode: '0644'
  become: yes

- name: Check mkinitcpio hooks
  lineinfile:
    path: /etc/mkinitcpio.conf
    regexp: '^HOOKS='
    line: 'HOOKS=(base udev autodetect microcode modconf kms keyboard keymap consolefont block encrypt filesystems fsck)'
  become: yes
  register: hooks_changed

- name: Rebuild initramfs
  command: mkinitcpio -P
  become: yes
  when: hooks_changed.changed

- name: Show final config
  command: cat /boot/loader/entries/arch.conf
  register: final_config
  changed_when: false

- name: Display result
  debug:
    msg: "{{ final_config.stdout }}"
