font=JetBrainsMono Nerd Font 10
background-color=#000000
text-color=#ebdbb2
border-color=#458588
border-size=1
border-radius=0
padding=10
margin=8
default-timeout=3000

[urgency=low]
border-color=#98971a

[urgency=normal]
border-color=#458588

[urgency=high]
border-color=#cc241d
default-timeout=0
