window {
    margin: 0px;
    border: 1px solid #458588;
    background-color: #000000;
    border-radius: 0px;
}

#input {
    margin: 8px;
    padding: 8px;
    border: 1px solid #458588;
    color: #ebdbb2;
    background-color: #0d0d0d;
    border-radius: 0px;
}

#inner-box {
    margin: 8px;
    background-color: #000000;
}

#outer-box {
    margin: 0px;
    background-color: #000000;
}

#scroll {
    margin: 0px;
}

#text {
    margin: 4px;
    color: #928374;
}

#entry:selected {
    background-color: #0d0d0d;
    color: #ebdbb2;
}

#entry:selected #text {
    color: #ebdbb2;
}
