[main]
font=JetBrainsMono Nerd Font:size=12

[cursor]
color={{ cyber_colors.bg }} {{ cyber_colors.accent1 }}
style=block
blink=no

[colors]
alpha=1.0
background={{ cyber_colors.bg }}
foreground={{ cyber_colors.fg }}

regular0={{ cyber_colors.bg }}
regular1={{ cyber_colors.error }}
regular2={{ cyber_colors.accent1 }}
regular3={{ cyber_colors.warning }}
regular4={{ cyber_colors.fg_dim }}
regular5={{ cyber_colors.fg_dim }}
regular6={{ cyber_colors.accent2 }}
regular7={{ cyber_colors.fg }}

bright0={{ cyber_colors.bg_light }}
bright1={{ cyber_colors.error }}
bright2={{ cyber_colors.accent2 }}
bright3={{ cyber_colors.warning }}
bright4={{ cyber_colors.fg }}
bright5={{ cyber_colors.fg }}
bright6={{ cyber_colors.accent3 }}
bright7={{ cyber_colors.accent1 }}

[scrollback]
lines=10000

[key-bindings]
clipboard-copy=Control+Shift+c
clipboard-paste=Control+Shift+v
