[main]
font=JetBrainsMono Nerd Font:size=12
dpi-aware=yes
terminal=foot
layer=overlay
width=40
horizontal-pad=20
vertical-pad=10
inner-pad=10

[colors]
background=1d2021ff
text=ebdbb2ff
match=8ec07cff
selection=504945ff
selection-text=fabd2fff
selection-match=b8bb26ff
border=8ec07cff

[border]
width=2
radius=0

[dmenu]
exit-immediately-if-empty=yes
