[main]
font=JetBrainsMono Nerd Font:size=12
terminal=foot
width=40

[colors]
background={{ cyber_colors.bg }}ff
text={{ cyber_colors.fg }}ff
match={{ cyber_colors.accent1 }}ff
selection={{ cyber_colors.bg_light }}ff
selection-text={{ cyber_colors.accent1 }}ff
border={{ cyber_colors.accent1 }}ff

[border]
width=1
radius=0
