font=JetBrainsMono Nerd Font 11
background-color={{ cyber_colors.bg }}
text-color={{ cyber_colors.fg }}
border-color={{ cyber_colors.accent1 }}
border-size=1
border-radius=0
padding=10
margin=8
default-timeout=5000

[urgency=critical]
border-color={{ cyber_colors.error }}
text-color={{ cyber_colors.error }}
default-timeout=0
